root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{xml,csproj,manifest,targets,props,json,csproj.user}]
indent_size = 2

[*.bat]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
